{% extends 'main/layout.html' %}

{% block title %} Востребованность{% endblock %}

{% block body %}
    <div class="features">
      <h1>Востребованность</h1>
        <p>UX-дизайн принял ту форму, в какой мы его знаем, не только по причине повсеместного распространения гаджетов (телевизоров, компьютеров, смартфонов), но и потому, что экономика все больше ориентируется на сферу услуг, где клиентский опыт играет чрезвычайно важную роль.</p>
      <p>С каждым годом ценность UX/UI-специалистов возрастает, а перспективы карьерного роста позволяют развиваться в сфере. Всё потому, что сегодня ни один бизнес не обходится без собственного сайта или приложения. А от того, удобно ли пользователю сделать то, за чем он пришёл, зависит прибыль компании.</p>
        <p>Как и все профессии из мира IT, эта должность предполагает достаточно высокий уровень оплаты труда. Ее конкретный размер зависит от компании, в которой работает специалист, а также от количества его знаний и навыков (как следствие – выполняемых обязанностей). При повышении квалификации UX-дизайнер может претендовать и на увеличение доходов. Средняя заработная плата UX/UI-специалистов по стране составляет:</p>
        <img src="static/main/img/photo2.png" width="1100" height="390">
    <footer>Нефагина Ирина Владимировна РИ-210947</footer>
    </div>
{% endblock %}