{% extends 'main/layout.html' %}

{% block title %} География {% endblock %}

{% block body %}
    <div class="features">
      <h1>География</h1>
        <p>UX/UI-специалисты работают в любой компании, которая постоянно присутствует и оказывает услуги в интернете (интернет-магазины, логистические компании, СМИ, телекоммуникационные компании и тд). Альтернативный вариант – фриланс. Цифровая среда пользовательского интерфейса и, в некоторой степени, UX означает, что вы можете работать удаленно из любой точки мира. Все зависит от того, заинтересованы ли вы в ведении собственного бизнеса или работе в компании.</p>
        <h2>Где UX UI дизайнер ищет заказчиков?</h2>
        <p>Конечно, UX UI дизайнеру необходимо иметь свой сайт — это приносит дополнительных клиентов. Также можно поискать работу на разных рекрутинговых сайтах — например, hh.ru. Вы сами видели, что свободных вакансий там достаточно много. </p>
        <p>Статистика показала, в каких городах дизайнеров не хватает работодателям. В топ городов по уровню зарплат UX/UI-дизайнеров вошли: Киев, Москва и Санкт-Петербург. </p>
    <img src="static/main/img/photo3.png" width="1200" height="350">
    <footer>Нефагина Ирина Владимировна РИ-210947</footer>
    </div>
{% endblock %}