{% extends 'main/layout.html' %}

{% block title %} Главная страница {% endblock %}

{% block body %}
    <div class="features">
      <h1>О профессии</h1>
        <p>UX/UI-дизайнер — это специалист, который занимается и пользовательскими сценариями, и визуальной составляющей. Он соединяет механику и функциональность продукта с юзером, его использующим. Такой дизайнер постоянно пытается выяснить, все ли понятно пользователям, нужны ли им определенные кнопки и функции, что ищет человек в той или иной ситуации.</p>
        <ul>
            <li>UX — user experience — переводится на русский язык как «пользовательский опыт». Это понятие включает в себя навигацию по сайту или приложению, состав функций внутри цифрового продукта, понятный текст.</li>
            <li>UI — user interface — это пользовательский интерфейс: наполнение сайта, систематизация элементов, выбор цветов, построение визуальной композиции, оформление кнопок, колонок и других графических элементов. Всем этим занимается UI-дизайнер.</li>
        </ul>
        <p>Все вместе они помогают оптимизировать работу над продуктом, сэкономить на доработке и перезапуске, а также — сократить запросы в техподдержку: часто люди обращаются туда, потому что не понимают, что и как нужно делать, где найти нужную опцию или настройки.</p>
        <img src="static/main/img/photo.jpg" width="600" height="420">
        <p>Работа с UX/UI требует большего математического склада ума, нежели классический графический дизайн, — ведь всё основано не только на красоте, но и интерактивном взаимодействии. Это позволяет направлению UX/UI-дизайна выйти на рынок IT-профессий, спрос на которые сейчас растёт.</p>
        <p>UX/UI-дизайнеры работают в диджитале, мобайле, крупные IT-холдинги собирают большие команды таких специалистов. Они работают над приложениями, поисковыми сервисами, делают интерфейсы для взаимодействия с нейросетями и внутренних продуктов компаний.</p>
        <h2>Обязанности</h2>
        <p>Работа над проектом всегда начинается с UX. Первым продумывается, какие пользователь будет использовать маршруты на сайте, какие у него могут возникнуть сложности во взаимодействии, как подвести его к целевому действию.</p>
        <ol>
            <li>Определить потребности бизнеса. <p>Первый шаг дизайнера — вникнуть в суть задачи и понять, как её решить. Главные вопросы должны касаться сути сайта или приложения ― какова их задача, чем они будут отличаться от уже существующих продуктов, кто основные конкуренты.</p></li>
            <li>Исследовать аудиторию. <p>На этом этапе определяют и анализируют целевую аудиторию, описывают её поведение и то, как она принимает решения. Есть разные методы UI- и UX-исследований — интервью, опросы, UX-тестирования, карточная сортировка, A/B-тестирования. В конкретной ситуации метод выбирают исходя из задач и целей.</p> </li>
            <li>Разработать внешний вид продукта. <p>Собрав необходимую информацию, дизайнер переходит на стадию проектирования — разрабатывает структуру проекта, создает прототип. После того как прототип готов, начинается работа с UI ― дизайнер переходит к разработке визуальной оболочки сайта.</p></li>
            <li>Протестировать продукт.  <p>После того как сайт свёрстан, его нужно перенести на тестовый домен, чтобы проверить, насколько интерфейс удобен в действии, и собрать обратную связь. Обычно для этого набирается фокус-группа, состоящая из представителей целевой аудитории. </p></li>
        </ol>
        <img src="static/main/img/photo8.svg" width="600" height="420">
        <h2>Плюсы и минусы</h2>
        <p>В любой сфере деятельности есть и положительные, и отрицательные стороны, которые стоит учитывать, собираясь освоить профессию.</p>
        <p>К плюсам профессии можно отнести её гибкость. Дизайнер интерфейсов выбирает удобный для себя формат работы: в студии, в команде конкретного продукта или на фрилансе. Или меняет эти форматы на разных этапах карьеры: например, сперва набирается опыта и завязывает контакты в студии, а потом переключается на фриланс. Когда дизайнер становится фрилансером, он сам выбирает проекты и регулирует свою загрузку.</p>
        <p>Из недостатков можно выделить проблемных заказчиков, которые не знают, что именно хотят видеть в итоге или дают слишком сжатые сроки на выполнение сложной работы. Кроме того у сотрудника могут возникнуть проблемы со здоровьем из-за сидячей работы за монитором. Как правило, страдает зрение, позвоночник.</p>
        <h2>Карьерный путь</h2>
        <p>Стандартный путь UI/UX-дизайнера известен: junior — middle — senior. Но этим возможности профессионала не ограничиваются. В больших командах дизайнер может занимать руководящие позиции Design Lead и Head of Design. Это не только дополнительная ответственность, но и возможность работать с крупными проектами и существенная прибавка к доходу.</p>
        <p>Ещё одна возможность для UI/UX дизайнера — это должность арт-директора в дизайн-агентстве. Кроме этого, профессионал с хорошим опытом работы может создать и развивать собственную компанию.</p>
        <p>UI/UX дизайнер может развиваться и в других IT-направлениях. Например, начав с UI/UX, часть специалистов переходит во фронтенд-разработку. Базовое понимание логики работы сайтов и приложений у дизайнера уже есть, останется подтянуть свои скилы в программировании.</p>
        <img src="static/main/img/photo11.png" width="600" height="420">
        <h2>Как стать дизайнером?</h2>
        <p>Этому можно научиться. Образование в области дизайна или информационных технологий будет несомненным преимуществом для развития в этой профессии. Сегодня некоторые вузы уже открыли направления бакалавриата и магистратуры, которые дают основу для старта. Также существуют курсы профессиональной переподготовки, где происходит погружение в профессию. </p>
        <p>Самый комфортный путь развития в профессии: начало на junior-позиции в консалтинге или дизайн-студии, затем переход на уровни middle и senior. Преимущество агентств и студий перед работой в продуктовой компании заключается в том, что на старте работы junior сможет поработать с разными проектами и заказчиками и таким образом набраться опыта.</p>
        <p>Помимо практических навыков UX/UI-дизайнеру пригодятся знания, почерпнутые из книг по логике, статистике и маркетингу. Умение анализировать и делать верные выводы поможет в работе по созданию интерфейсов, ориентированных на удовлетворение пользовательских потребностей.</p>
        <p>UX/UI-специалист — это востребованная профессия, которая дарит возможности для карьерного роста. Конкуренция за клиентов в виртуальном мире становится такой же большой, как и в мире реальном, поэтому бизнес старается быть более эмпатичным и клиентоориентированным в сети. Специалист в UX/UI-дизайне помогает ему в этом, создавая удобные сайты и мобильные приложения, которые решают проблемы пользователя в один клик.</p>
        <footer><p>Нефагина Ирина Владимировна РИ-210947</p></footer>
    </div>
{% endblock %}


