{% extends 'main/layout.html' %}

{% block title %}Навыки{% endblock %}

{% block body %}
    <div class="features">
      <h1>Навыки</h1>
      <p>Фронт UX действительно огромен, поэтому UX/UI-дизайнер может быть полезен на множестве участков. Давайте попробуем выделить ключевые навыки, которые будут полезны этому спецу широкого профиля.</p>
        <h2>Какими навыками должен обладать UX-дизайнер?</h2>
        <ul>
            <li>Исследование пользователей</li><p>Фундамент UX дизайна – это люди, для которых мы проектируем. UX-дизайнер обязан постоянно заниматься изучением клиентов сервиса/приложения и обладать здоровым любопытством, которое поможет строить пользовательский опыт, опираясь на привычки и пожелания людей. </p>
            <li>Информационная архитектура</li><p>Создание качественного digital-продукта — сложный и многоступенчатый процесс, в котором следует учитывать каждую деталь будущего проекта. Информационная архитектура — это именно то, что поможет не потеряться в обилии информации и контента и создать оптимальную структуру, «скелет» будущего продукта. </p>
            <li>Работа с текстами</li><p>Умение писать — недооцененный навык UX-дизайнеров. Считается, что, например, знание кода обязательно для проектировщика. Однако умение обращаться с текстом не менее важно для дизайнера, чем вёрстка. Подружиться с текстом не так уж и долго, при этом взаимодействие с пользователями выйдет на новый уровень. </p>
            <li>Прототипирование</li><p>На ранних этапах работы UX-дизайнер занимается разработкой прототипов интерфейса. По ходе разработки он использует аналитические навыки, чтобы создать удобное пространство для потенциальных пользователей. Он же проводит первые тесты получившегося продукта, чтобы убедиться в его удобстве и эффективности (умение поставить себя на место пользователя в этом случае играет значимую роль). </p>
            <li>Общение и коммуникация</li><p>Проведение исследований, создание прототипов и другие технические навыки UX-дизайнера действительно важны. В то же время не менее ценны бизнес-навыки: способность управлять продуктом и собственным временем. Но что, кроме визуальной коммуникации, делает дизайнеров выдающимися? Публичные выступления и презентации. Чтобы избежать подводных камней и получить позитивную обратную связь, необходимо уметь представить продукт и уверенно вести себя на публике.</p>
        </ul>
        <h2>Какими навыками должен обладать UI-дизайнер?</h2>
        <p>От UI-, как и от UX-дизайнеров, требуется повышенный уровень эмпатии, то есть возможность ставить себя на место пользователя. И хотя задача первых состоит в визуальном оформлении продукта, все же необходимо ориентироваться на предпочтения аудитории. Эту характеристику дополняет высокий уровень адаптивности и умение подстраиваться под изменения в индустрии. </p>
        <ul>
            <li>Умение создать запоминающийся визуальный образ продукта</li>
            <li>Знания в области теории цвета</li>
            <li>Понимание того, как сделать визуальную составляющую сайта или приложения отзывчивой и наглядной</li>
            <li>Умение реализовывать подвижные элементы дизайна и анимации в соответствии с требованиями проекта</li>
            <li>Общие познания в области графического дизайна, менеджмента (управления проектом и командой) </li>
        </ul>
    <footer>Нефагина Ирина Владимировна РИ-210947</footer>
    </div>
{% endblock %}